body {
  background-image: url("../img/ttgif2.gif");
  color: white;
  font-size: 5vh;
  text-shadow: 1vh 1vh black;
}

input {
  color: black;
}

.jumbotron {
  background-image: url("../img/14abe254088db29d184db6c97deecec5.gif")
}

.col-md-6 {
  text-align: center;
  padding: 8vw;
}

.result {
  display: none;
}

#buttontext {
  width: 15vw;
  font-size: 5vh;
  font-weight: bold;
  text-shadow: 1vh 1vh black;
}


.btn:hover {
  background-image: url("../img/giphy.gif");
  height: 500px;
  width: 500px;
  display: block;
}

ul {
  text-align: center;
  list-style: none;
  font-size: 10vw;
  text-shadow: 1vh 1vh black;
}
